{% extends 'base.html.twig' %}

{% block title %}Add account{% endblock %}

{% block body %}
    <h1>Add account</h1>

    {{ include('account/_form.html.twig', {'button_label': 'Add'}) }}

    <a href="{{ path('account_index') }}">Back to account list</a>
{% endblock %}